<h4>
  Application Form
</h4>
<form action="/service/{{service['id']}}/apply" method="post">
  <div class="mb-2">
  <lable>Full Name</lable><br>
  <input type="text" name="full_name" placeholder="Bruce Wayne">
  </div>

  <div class="mb-2">
  <lable>Email</lable><br>
  <input type="text" name="email" placeholder="brucewayne@gmail.com">
  </div>
  
  <div class="mb-2">
  <lable>Phone Number</lable><br>
  <input type="text" name="Phone Number" placeholder="Number">
  </div>

  <div class="mb-2">
  <lable>Shoot Enquiry</lable><br>
  <input type="text" name="Shoot Enquiry" placeholder="Enquiry">
  </div>

  <div class="mb-2">
  <lable>Shoot Requirment</lable><br>
  <textarea name="Explain"></textarea>
  </div>
<input type="submit">
  
</form>